@import url(https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;800;900&display=swap);
@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  font-family: "Inter", sans-serif;
}
.main_btn {
  border-radius: 32px;
  padding: 14px 32px;
  background-color: #3671e9;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
}
#check,
.check {
  display: none;
}

@media (max-width: 888px) {
  .links {
    position: absolute;
    top: 0;
    left: -100%;
    width: 60%;
    height: 100vh;
    backdrop-filter: blur(11px);
    color: white;
    font-size: 21px;
    font-weight: 700;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    z-index: 11;
    transition: 0.4s;
  }
  .links a {
    border-radius: 15px;
    padding: 3px 5px;
    box-shadow: 2px 2px 21px 9px white !important;
  }
  .check {
    display: block;
  }
}

#check:checked ~ .links {
  left: 0;
}

input::placeholder {
  color: white;
}
